<h1>Concatening lists</h1>

In [1]:
list_s1 = [34, 52, 56]
list_s1

[34, 52, 56]

In [2]:
list_s2 = [21, 90, 51]
list_s2

[21, 90, 51]

In [3]:
# Concatenating lists
total_list = list_s1 + list_s2
total_list

[34, 52, 56, 21, 90, 51]

<h1>In Operator</h1>

In [4]:
# Creating an list
test_list = [100, 2, -5, 3.4]

In [5]:
# Checking if 10 belongs to test_list
print(10 in test_list)

False

In [6]:
# Checking in 100 belongs to test_list
print(100 in test_list)

True

<h1>Built-in Functions</h1>

In [7]:
# len() function, returns the lenght of list
len(test_list)

4

In [8]:
# max() returns the biggest element in a list
max(test_list)

100

In [9]:
# min() returns the smaller element in a list
min(test_list)

-5

In [10]:
# Creating an new list
market_list2 = ["eggs", "floor", "milk", "apple"]

In [11]:
# Adding one element to the list
market_list2.append("meat")
market_list2

['eggs', 'floor', 'milk', 'apple', 'meat']

In [12]:
market_list2.append("meat")
market_list2

['eggs', 'floor', 'milk', 'apple', 'meat', 'meat']

In [15]:
market_list2.count("meat")

2

In [16]:
# Creating an empty list
a = []

In [18]:
print(a)

[]

In [19]:
type(a)

list

In [20]:
a.append(10)

In [21]:
a.append(50)

In [22]:
a

[10, 50]

In [23]:
old_list = [1,2,5,10]

In [24]:
new_list = []

In [27]:
# Copying elements from one list to another
for item in old_list:
    new_list.append(item)
    
new_list

[1, 2, 5, 10, 1, 2, 5, 10]

In [28]:
c = [20,30]

In [29]:
c.append(60)
c.append(70)

In [30]:
c

[20, 30, 60, 70]

In [34]:
# Return the number of times the elements in a screen
c.count(20)

1

In [35]:
citys = ["Recife", 'Manaus','Salvador']

In [36]:
citys.extend(['Fortaleza', 'palmas'])
citys

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'palmas']

In [37]:
# Show the index of the element in a list
citys.index('Manaus')

1

In [40]:
# Insert one element in the index of the list
citys.insert(2, 'Natal')
citys

['Recife', 'Manaus', 'Natal', 'Natal', 'Salvador', 'Fortaleza', 'palmas']

In [42]:
# Remove n element from the list
citys.remove('Natal')
citys

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'palmas']

In [44]:
# Reverse the list
citys.reverse()
citys

['palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [46]:
# Sort the list
x = [5,4,3,2,1]
x

[5, 4, 3, 2, 1]

In [48]:
x.sort()
x

[1, 2, 3, 4, 5]

<h1>END</h1>